@{
  ViewData["Title"] = $"Delete {Model.CommonName}";
}

@model MycoMatrixClient.Models.Mushroom

<h4>Are you sure you want to delete @Model.CommonName?</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary" />
}

@Html.ActionLink("Back to details", "Details", new { id = @Model.MushroomId })