@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Myco Matrix</h1>
    <p>Get to know some <a href="/mushrooms">mushrooms...</a></p>

    
</div>
