@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Myco Matrix</h1>

    <h3>message if logged in or redirect to accounts/register</h3>
    <hr />
    @Html.ActionLink("Register", "Register", "Accounts")
    <br />
    @Html.ActionLink("Sign in", "SignIn", "Accounts")
<hr />
    <p>Get to know some <a href="/mushrooms">mushrooms...</a></p>

</div>
